.header-text{
    text-align: center;
    font-size: 72px;
    background-color: rgba(170, 108, 26, 0.829);
    color: ivory;
    width: fit-content;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 75px;
    background-size: cover;
}
body{
    background-image: url(contactMePic.jpg);
    background-size: cover;
}
.layer{
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% ;
    opacity: 95%;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 450px;
    font-size: 32px;
}
.email-input{
    width: 375px;
    height: 30px;
    font-size: 18px;
    margin-bottom: 15px;
}
.message-input{
    width: 375px;
    height: 200px;
    font-size: 18px;
}
.send-button{
    width: 75px;
    height: 30px;
    background-color: black;
    color: whitesmoke;
    margin-top: 15px;
    font-size: 24px;
    text-align: center;
    text-decoration: none !important;
}