@media (min-width: 992px){
body{
   background-color: lavenderblush; 
}
#container{
    width: 1024px;
    height: 774px;
    background-color: rgba(231, 229, 229, 0.568);
    margin: auto;
}
header{
    width: 1024px;
    height: 387px;
    background-color: rgba(43, 205, 192, 0.596);
    
}
.header-text{
    color: whitesmoke;
    text-align: center;
    font-size: 64px;
    font-weight: 100;
    line-height: 387px;
}
#content{
    width: 1024px;
    height: 387px;
    background-color: black;
    margin: 0 auto;
    color: whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    
.title-text{
    font-size: 42px;
    font-weight: 100;
}
.blue-box{
    height: 24px;
    width: 200px;
    background-color: rgb(51,168,221);
    margin-top: 75px;
}
.i-think{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 115px;

}
.brain{
    width: 200px; 
}
.orange-box{
    height: 24px;
    width: 200px;
    background-color:rgb(244,103,49);
    margin-top: 75px;
    
}
.therefore{
    display: flex;
    flex-direction: column;
    align-content: center;
    

}
.descartes{
    width: 200px;
}
.aqua-box{
    height: 24px;
    width: 200px;
    background-color: rgb(43,205,192);
    margin-top: 75px;
}
.i-soap{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-right: 115px;
    
}
.soap{
    width: 200px;
}

}
@media(max-width: 991px){
    #container{
        width: 500px;
        height: 1367px;
        margin: auto;
    }
    header{
        width: 500px;
        height: 337px;
        background-color: rgb(51,168,221);
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        }
    .header-text{
        color: whitesmoke;
        font-size: 60px;
        font-weight: 100;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 100px;
       
        }
    #content{
      background-color: rgb(247,245,246);
      display: flex;  
      flex-direction: column;
      justify-content: center;
      padding-left: 135px;
      padding-right: 135px;
      text-align: center;
      align-content: center;
    }
    .blue-box{
        height: 30px;
        width: 200px;
        background-color: rgb(51,168,221);
        margin-top: 40px;
        margin-bottom: 10px;
        padding-left: 30px;
        
    }
    .title-text{
        font-size: 40px;
    }
    .i-think{
        font-size: 16px;
        font-weight: 500;
    }
    .orange-box{
        height: 30px;
        width: 200px;
        background-color:rgb(244,103,49);
        margin-top: 40px;
        margin-bottom: 10px;
        padding-left: 30px;
    }
    .therefore{
        font-size: 16px;
        font-weight: 500;
    }
    .aqua-box{
        height: 30px;
        width: 200px;
        background-color: rgba(43, 205, 192, 0.596);
        margin-top: 40px;
        margin-bottom: 10px;
        padding-left: 30px;
    }
    .i-soap{
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 30px;
    }
}