body{
    background-color: rgba(172, 255, 47, 0.486);
}
.header-text{
    height: 100px;
    width: 500px;
    background-color: transparent;
    color: indianred;
    font-size: 92px;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
}
.email{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 100px;
    font-size: 36px;
    margin-top: 75px;
    color: indianred;
}
#email{
    line-height: normal;
    width: 550px;
    height: 40px;
    font-size: 24px;
}
.comments{    
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 100px;
    font-size: 36px;
    margin-top: 75px;
    margin-bottom: 75px;
    color: indianred;
}
#comments{
    width: 550px;
    resize: none;
    font-size: 24px;
}
.hear-about{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 100px;
    font-size: 36px;
    margin-bottom: 75px;
}
.hear-about{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 100px;
    font-size: 24px;
    margin-bottom: 75px;
    width: 500px;
    background-color: indianred;
    color:rgb(255,255,255)
}