/* body {
background-color:rgba(141, 147, 201, 0.541);
} */
#container {
    width: 850px;
    border: 1px darkgray solid;
    height: 794px;
}

#header{
    width: 100%;
    height: 450px;
    border: 1px cornflowerblue solid;
    background-image: url("./nasaBackgroud.jpg");
    background-size: cover;
    text-align: center;
    line-height: 450px;
    font-size: 65pt;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    color: ivory;

}

