body {
     margin: 0 auto;
 }

#container {
    width: 850px;
    
    height: 794px;
}

#header{
    width: 100%;
    height: 450px;
    background-image: url("./nasaBackgroud.jpg");
    background-size: cover;
    text-align: center;
    line-height: 450px;
    font-size: 65pt;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    color: ivory;

}
#content{
    margin: 0 auto;
    height: 324px;
    margin-top: 20px;
    background-color: rgb(230,230,230);
    display:flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: row;
    justify-content: space-between;
}
.social_media{
    width:270px;
    padding-left: 20px;
}
.office{
    width: 270px;
}
.contact{
    width: 270px;
    padding-right: 20px;
}
p{
    font-weight: lighter;
    font-size: 12px;
    font-style: normal;
    color: rgb(94, 90, 90);
}
h3{
    font-weight: bolder;
    
}
h6{
    font-weight: lighter;
    font-size: 12px;
    font-style: normal;
    color: rgb(94, 90, 90);
}
.name{
    font-size: 14px;
    color: rgb(94, 90, 90)
}

.name-input{
    width: 100%;
    height: 30px;
    font-size: 22px;
    margin-bottom: 10px;
    border: none;
}
.message{
    font-size: 14px;
    color: rgb(94, 90, 90);
}
.message-input{
    width: 270px;
    height: 85px;
    color:rgb(94, 90, 90);
    font-size: 22px;
    resize: none;
    border: none;
    text-align: start;
    white-space: normal;
}
.send-button{
    background-color: rgb(94, 90, 90);
    color: ivory;
    width: 90px;
    height: 30px;
    font-size: 18px;
    margin-top: 10px;
}