.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: black;
    transition: .5s ease;
    z-index: 1;
}
.container:hover .overlay{
    opacity: 0.5;
}
.overlay-text{
    display: flex;
    justify-content: center;
    text-align: center;
    color: ivory;
    font-size: 48px;
}
@media (max-width:650px){
.header{
    line-height: 100px;
    height: 100px; 
    text-align: center;
    background-color: rgba(79, 192, 192, 0.801);
    }
.top-text{
    font-size: 48px;
    color: ivory;
}
.content-row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
}
.column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
}
}

